/* general */

.bawp_blue .bawp_stars{color:#FEBA02;}

.bawp_blue .bawp_clear{clear:both;}

.bawp_blue .bawp_button{text-align:center;text-decoration:none !important;background:#07c;color:#fff !important;border:2px solid #fff;-webkit-box-shadow: 0 0 3px #aaa;box-shadow: 0 0 3px #aaa;padding: 5px 0;font-weight:bold;}

.bawp_blue .bawp_button:HOVER, .bawp_blue .bawp_button:VISITED{color:#fff !important;border:2px solid #07c;}

/* single */

.bawp_blue .bawp_single{border-radius: 3px;margin:15px 0;padding:16px;border: 1px solid #c6c6c6;background: #fff;}

.bawp_blue .bawp_single .bawp_name{font-weight:bold;}

.bawp_blue .bawp_single .bawp_photo{float:right;margin-left:15px;width:180px;}

.bawp_blue .bawp_single .bawp_description{margin:10px 0;}

.bawp_blue .bawp_single .bawp_button{width:180px;float:right;margin-top:10px;}

.bawp_blue .bawp_single .bawp_score{margin-top:5px;float:left;font-weight:bold;margin-right:10px;background:#003580;color:#fff;font-size:25px;width: 57px;text-align:center;padding:4px 0;}

.bawp_blue .bawp_single .bawp_rating{clear:both;float:left;width:300px;}

.bawp_blue .bawp_single .bawp_comments{color:#707070;display:block;}

@media only screen and (max-width: 480px){
	.bawp_blue .bawp_single .bawp_photo{float:none;text-align:center;width:inherit;}
		.bawp_blue .bawp_single .bawp_photo img{max-width:inherit;}

	.bawp_blue .bawp_single .bawp_info{text-align:center;}
		.bawp_blue .bawp_single .bawp_info a{display:block;}

	.bawp_blue .bawp_single .bawp_rating{text-align:left;padding:7px 0 20px 0;}

	.bawp_blue .bawp_single .bawp_button{width:inherit;clear:both;float:none;display:block;}

	.bawp_blue .bawp_single .bawp_clear{display:none;}
}

/* list */

.bawp_blue .bawp_list .bawp_single{margin:0;margin-bottom:-1px;border-radius:0;}
.bawp_blue .bawp_list .bawp_single:nth-child(even){background:#F5F5F5;}

/* table */

.bawp_blue .bawp_table{max-width:100% !important;overflow-x:auto;padding-bottom:15px;margin-bottom:15px;}

.bawp_blue .bawp_table table{max-width:99%;background:#fff;border:0;border-bottom:1px #d7d7d7 solid;}

.bawp_blue .bawp_table table td, .bawp_blue .bawp_table table th {border:1px #d7d7d7 solid;border-width:1px 0 0 1px;text-align:center;}

.bawp_blue .bawp_table .bawp_last{border-right:1px #d7d7d7 solid;}

.bawp_blue .bawp_table tr{background:#fff;}

.bawp_blue .bawp_table tr:nth-child(even){background:#F5F5F5;}

.bawp_blue .bawp_table .bawp_featured{color:#fff;}

.bawp_blue .bawp_table .bawp_button{display:block;}

.bawp_blue .bawp_table .bawp_photo{max-width:100%;padding:0;background:none;display:block;}

@media only screen and (max-width: 480px){
	.bawp_blue .bawp_table .bawp_table_vertical td{width:50%;}
}